@import '../../../styles/_variables';

.footer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    background: $primary;
    width:100%;
}

@media (max-width: 600px) {
    .footer{
        grid-template-columns: 1fr;
    }
}

mat-icon{
    position: relative;
    top: 5px;
}
.padding{
    padding: 10px;
}
.contact{
    box-sizing: border-box;
    border: 3px solid $accent;
    &::before{ 
        content: 'Kontakt';
        display: block;
        color: $accent;
        position: absolute;
        top: 15px;
        background-color: $primary;
        padding: 0 5px;
    }
}
.content{
    display: grid;
    place-items: center;
    border: 3px solid $accent;
    &::before{ 
        content: 'Opis';
        display: block;
        color: $accent;
        position: absolute;
        top: 15px;
        background-color: $primary;
        padding: 0 5px;
    }
}
.social-media mat-icon{
    font-size: 48px;
}
.social-media{
    
    & a{
        display: inline-block;
        margin: 0 16px;
        font-size: 48px;
    }
}
a {
    color:white !important;
}

