<div class="footer p-md-4 ">
        <div class="contact padding">
            <p><span><mat-icon>perm_identity</mat-icon> Kamil Czepiel</span></p>
            <p><span><mat-icon>mail</mat-icon> <a href="mailto:kamil.czepiell@gmail.com"> kamil.czepiell@gmail.com</a></span></p>
            <p><span><mat-icon>language</mat-icon> <a href="kamilczepiel.pl"> Strona internetowa</a></span></p>
        </div>
        <div></div>
        <div class="content padding">
          <p>Strona ma charakter pokazowy. Zamieszczone elemnty nie są na sprzedaż a umieszczone grafiki pochodzą z zewnętrznych źródeł.</p>
          <ul>
            <li><a href="https://supersklep.pl">Supersklep.pl</a>
          </ul>
        </div>
</div>