.wrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 1rem;
    
    &:hover .fav{
        opacity: 1;
    }

    &:hover .cl{
        opacity: 1;
    }
}

.wrapper img {
    
    border-radius: 1rem;
    width: 200px;
    height: 200px;
    object-fit:cover;
}
button{
    margin: .5rem;
    
    transition: all .4s;
}

.fav{
    position: absolute;
    left: 0;
    opacity: 0
}
.cl {
    position: absolute;
    right: 0;
    opacity: 0;
}
