<div [formGroup]="form" class="example-form">
    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Hasło</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-error *ngIf="passwordControl.touched c">
          Hasło jest <strong>wymagane</strong>
        </mat-error>
        <mat-card class="prompt" *ngIf="passwordControl.touched && !passwordControl.hasError('required')" color="accent">
          <div *ngIf="passwordControl.touched && passwordControl.hasError('minlength')" color="accent">
            Hasło ma conajmniej <strong>{{minLength}}</strong> liter
          </div>
          <div *ngIf="passwordControl.touched && passwordControl.hasError('maxlength')">
            Hasło ma conajwyżej <strong>{{maxLength}}</strong> liter
          </div>
          <div *ngIf="passwordControl.touched && passwordControl.hasError('hasNumber')">
            Hasło ma conajmniej <strong>1</strong> cyfrę
          </div>
          <div *ngIf="passwordControl.touched && passwordControl.hasError('hasCapitalCase')">
            Hasło ma conajmniej <strong>1</strong> dużą literę
          </div>
          <div *ngIf="passwordControl.touched && passwordControl.hasError('hasSmallCase')">
            Hasło ma conajmniej <strong>1</strong> małą literę
          </div> 
        </mat-card>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width">
        <mat-label>Powtórz hasło</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
        <mat-error *ngIf="confirmPasswordControl.touched && confirmPasswordControl.hasError('required')">
          Powtórzenie jest <strong>wymagane</strong>
        </mat-error>
      </mat-form-field>
    </div>
    
    <mat-error class="text-left" *ngIf="passwordControl.touched && confirmPasswordControl.touched && form.hasError('missmatch')">
      Hasła się <strong>różnią</strong>
    </mat-error>
  </div>