<div class="row">
    <div class="col-4 col-md-2 col">
        <img *ngIf="images.get(1); else loading" [src]="images.get(1)">
        <ng-template #loading>
            <app-loading-spinner></app-loading-spinner>
          </ng-template>
    </div>
    <div class="col-8 col-md-10">
        <div class="row info">
            <div class="col-12 col-md-3 col">
                <mat-form-field class="example-full-width">
                    <mat-label>Produkt</mat-label>
                    <input style="width:100%" matInput disabled [value]="item.product.name">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-2 col">
                <mat-form-field>
                    <mat-label>Ilość</mat-label>
                    <input matInput type="number" min="1" value="1" [value]="item.count"
                        (input)="changeCount($event.target.value)">
                </mat-form-field>
            </div>
            <div class="col-12 col-md-2 col">
                <mat-form-field>
                    <mat-label *ngIf="sizes.length>0">Rozmiar</mat-label>
    <mat-label *ngIf="sizes.length==0">Brak rozmiarów</mat-label>
                    <mat-select name="size" [(ngModel)]="item.size" (selectionChange)="changeSize($event.value)">
                        <mat-option *ngFor="let size of sizes | enumToArray" [value]="size.name">
                            {{size.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-2 col">
                <mat-form-field>
                    <mat-label>Cena</mat-label>
                    <input matInput disabled [ngModel]='item.product.price|currency:"PLN":"symbol"'>
                </mat-form-field>
            </div>
            <div class="col-12 col-md-1 col">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                    (click)="remove()">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>