img{
    max-width: 100%;
    max-height: 100px;
}
.col{
    display: table-cell; vertical-align: middle;
}
.info{
    height: 100%;
}
mat-form-field{
    max-width: 100%;
}
textarea{
    width: 100%;
}