<mat-form-field>
  <mat-label>Rozmiar</mat-label>
  <mat-select [formControl]="sizes" multiple (selectionChange)="selectionChange($event.value)">
    <mat-select-trigger>
      {{sizes.value ? sizes.value[0] : ''}}
      <span *ngIf="sizes.value?.length > 1" class="example-additional-selection">
        (+{{sizes.value.length - 1}} {{sizes.value?.length >= 2 ? 'inny' : 'inne'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let size of sizeList | enumToArray" [value]="size.name">{{size.name}}</mat-option>
  </mat-select>
</mat-form-field>