/* For use in src/lib/core/theming/_palette.scss */
$md-primary: (
    50 : #e4e5e6,
    100 : #bdbfc1,
    200 : #919498,
    300 : #64696f,
    400 : #434850,
    500 : #222831,
    600 : #1e242c,
    700 : #191e25,
    800 : #14181f,
    900 : #0c0f13,
    A100 : #589bff,
    A200 : #257cff,
    A400 : #0060f1,
    A700 : #0056d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #e0f5f6,
    100 : #b3e6e9,
    200 : #80d6da,
    300 : #4dc6cb,
    400 : #26b9c0,
    500 : #00adb5,
    600 : #00a6ae,
    700 : #009ca5,
    800 : #00939d,
    900 : #00838d,
    A100 : #b9f9ff,
    A200 : #86f5ff,
    A400 : #53f0ff,
    A700 : #3aeeff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-matred: (
    50 : #ffe6ec,
    100 : #ffc0d0,
    200 : #ff97b1,
    300 : #ff6d92,
    400 : #ff4d7a,
    500 : #ff2e63,
    600 : #ff295b,
    700 : #ff2351,
    800 : #ff1d47,
    900 : #ff1235,
    A100 : #ffffff,
    A200 : #fff9fa,
    A400 : #ffc6cd,
    A700 : #ffadb7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-secondprimary: (
    50 : #e7e8e9,
    100 : #c4c5c8,
    200 : #9c9fa3,
    300 : #74787e,
    400 : #575b62,
    500 : #393e46,
    600 : #33383f,
    700 : #2c3037,
    800 : #24282f,
    900 : #171b20,
    A100 : #67a8ff,
    A200 : #348bff,
    A400 : #016eff,
    A700 : #0063e6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

