@import '../../../../styles/variables';

.dropzone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    font-weight: 200;
    height: 250px;
    border: 2px dashed $accent;
    border-radius: 5px;
    background-color: $primary;
    color: white;
    &:hover{

    }
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrapper{
    background-color:$primary;
    padding: 1rem;
    border-radius: 1rem;
}