@import '../../../../styles/variables';

.dropzone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 80%;
    font-weight: 200;
    height: 300px;
    border: 2px dashed $primary;
    border-radius: 5px;
    background-color: $accent;

    &:hover{
        color: $warn;
    }
}