.tab-content{
    padding: 15px;
}
.basic img{
    margin-top: -60px;
    max-width: 200px;
    border-radius: 4px;
}
.basic{
    width: 100%;
    display: grid;
    place-items: center;
}
.tab-container{
    box-sizing: border-box;
}
form{
    display: inline;
}

mat-card{
    margin-top: 60px;
}

.address{
    display:grid;
    grid-template-columns: auto 1fr;
}

@media (min-width:768px){.info, .address{
    border: 3px solid black;
    padding: 5px;
    &::before{
        position:absolute;
        top: 3px;
        left: 26px;
        padding: 0 10px;
        background: white;
        font-weight: bold;
    }
}

.info::before{
    content: 'Kontakt';
}

.address::before{
    content: 'Adres';
}
}

.orders:nth-child(even){
     
}