.bg{
    background-image: url('../assets/bg.JPG');
    min-height: 90vh;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
.footer{
    position: absolute;
    bottom:0;
    width: 100%;
    color: white;
}