<mat-card *ngIf="order">
    <mat-card-title>{{order.status}}</mat-card-title>
    <mat-card-subtitle>
        <p>{{order.date?.toDate() | date: 'dd/MM/yyyy' }}</p>
        <p>{{order.paymentMethod}}</p>
    </mat-card-subtitle>
    <mat-card-content>
        <app-order-summary [order]="order" [items]="order.items"></app-order-summary>
    </mat-card-content>
    <mat-card-actions>
        <div class="row">
            <div class="col-md-6">
                <app-status-form [value]="order.status" (onChange)="order.status = $event"></app-status-form>
            </div>
            <div class="col-md-6">
                <app-confirm-button message="Zmień status" disabled="false" (confirmed)="changeStatus()">
                </app-confirm-button>
            </div>
        </div>
    </mat-card-actions>
</mat-card>