.example-card{
    width:500px
}
.main-div{
    height: calc(100vh - 96px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .mat-card-header {
    display: block;
}

input{
  width: 100%;
}

