<mat-form-field>
    <mat-label>Marka</mat-label>
  <mat-select [formControl]="brands" multiple multiple (selectionChange)="selectionChange($event.value)">
    <mat-select-trigger>
      {{brands.value ? brands.value[0] : ''}}
      <span *ngIf="brands.value?.length > 1" class="example-additional-selection">
        (+{{brands.value.length - 1}} {{brands.value?.length >= 2 ? 'inny' : 'inne'}})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let brand of brandList$ | async" [value]="brand">{{brand}}</mat-option>
  </mat-select>
  </mat-form-field>