
  <div class="example-ripple-container mat-elevation-z4" matRipple [matRippleCentered]="centered"
    [matRippleDisabled]="disabled" [matRippleUnbounded]="unbounded" [matRippleRadius]="radius" [matRippleColor]="color" routerLink="{{product.id}}">
    <mat-card class="card">
      <img *ngIf="images[0]; else loading" mat-card-image (mouseover)="over($event)" (mouseout)="out($event)"
      [src]="images[0]">
      <ng-template #loading>
        <app-loading-spinner></app-loading-spinner>
      </ng-template>
      <mat-card-content>
        <mat-card-title>{{product.name}}</mat-card-title>
        <mat-card-subtitle>
          <app-price [price]="product.price"></app-price>
        </mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
