@import '../../../styles/_variables';


button{
  letter-spacing:  .1rem;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.menu-spacer {
  flex: 1 1 auto ;
}

 img{
  height: 100%;
  padding: 1rem 0;
}

.search-box{
  box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
}

.active-link{
  color: $accent;
}