.chip-list{
    width:100%;
}
.full-width{
    width:100%;
}
.sizes{
    display: inline-flex;
    width:100%;
}
.sizes mat-list-option{
    box-sizing: border-box;
    width: 50%;
}

.sizes input{
    box-sizing: border-box;
    width: 50%;
}

